@font-face {
    font-family: 'IRANYekan-Medium';
    src: url('../fonts/IRANYekan-Medium.eot?#') format('eot'),
        url('../fonts/IRANYekan-Medium.woff') format('woff'),
        url('../fonts/IRANYekan-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'iransans';
    src: url('../fonts/iransans.eot?#') format('eot'),
        url('../fonts/iransans.woff') format('woff'),
        url('../fonts/iransans.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    font-family: 'IRANYekan-Medium', 'iransans', 'Calibri';
}

.orange {
    color: #f58232;
}

.silver {
    color: #939393;
}

body {
    background-color: #f6f6f6;
}

.everything-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    height: 80px;
}

input[type=search]:focus {
    outline: none;
}

.search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #939393;
    border-radius: 0 6px 6px 0;
    font-size: 14px;
}

.choose-category {
    width: 100%;
    padding: 7px;
    border: 1px solid #939393;
    border-radius: 0;
    background-color: transparent;
    color: #939393;
    font-size: 14px;
    text-align: right;
}

.choose-category:focus {
    outline: none !important;
    box-shadow: 0 0;
}

.search-bar-btn {
    background-color: #f58232;
    border: none;
    padding: 13.5px;
    border-radius: 6px 0 0 6px;
}

/*.choose-category-items {*/
/*    !*max-height: 0;*!*/
/*    position: absolute;*/
/*    width: 200px;*/
/*    height: 250px;*/
/*    background-color: white;*/
/*    display: none;*/
/*    padding: 10px;*/
/*    line-height: 2;*/
/*    color: #939393;*/
/*    font-size: 14px;*/
/*    overflow: auto;*/
/*}*/

/*.choose-category-items-has-child {*/
/*    margin-right: 15px;*/
/*}*/

/*?*/
/*.nav-menu{*/
/*    padding: 0 15px;*/
/*}*/

.menu>.menu-item {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.menu>.menu-item>a {
    display: block;
    margin-top: 15px;
    font-size: 13px;
    color: #000000;
    transition: all 0.3s ease;
}

.menu>.menu-item>a .angle {
    display: inline-block;
    height: 12px;
    width: 12px;
    position: relative;
    margin-right: 2px;
    pointer-events: none;
}

.menu>.menu-item>a .angle:before,
.menu>.menu-item>a .angle:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    right: 50%;
    top: 50%;
    background-color: #000000;
    height: 2px;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.menu>.menu-item:hover>a .angle:before,
.menu>.menu-item:hover>a .angle:after {
    background-color: #f58232;
}

.menu>.menu-item>a .angle:after {
    transform: translate(-50%, -50%) rotate(-90deg);
}

.menu>.menu-item>.sub-menu>.menu-item>a:hover,
.menu>.menu-item:hover>a {
    color: #f58232;
}

.menu>.menu-item>.sub-menu {
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    width: 250px;
    position: absolute;
    right: 0;
    top: 150%;
    background-color: #ffffff;
    padding: 10px 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
}

@media (min-width: 992px) {
    .menu>.menu-item-has-children:hover>.sub-menu {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .menu>.menu-item-has-children:hover>a .angle:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.menu>.menu-item>.sub-menu>.menu-item {
    display: block;
}

.menu>.menu-item>.sub-menu>.menu-item>a {
    display: block;
    padding: 10px 20px;
    font-size: 14px;
    color: #000000;
    transition: all 0.3s ease;
}

.open-nav-menu {
    height: 34px;
    width: 30px;
    margin-right: 15px;
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.open-nav-menu span {
    display: block;
    height: 3px;
    width: 24px;
    background-color: #000000;
    position: relative;
}

.open-nav-menu span:before,
.open-nav-menu span:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    box-sizing: border-box;
}

.open-nav-menu span:before {
    top: -7px;
}

.open-nav-menu span:after {
    top: 7px;
}

.close-nav-menu {
    display: none;
    height: 40px;
    width: 40px;
    margin: 0 0 15px 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.close-nav-menu img {
    width: 16px;
}

.menu-overlay {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

/* responsive */

@media (max-width: 991px) {
    .logo {
        width: 50px;
        height: 50px;
    }

    .menu>.menu-item>a {
        display: block;
        margin-top: 0;
        font-size: 13px;
        color: #000000;
        transition: all 0.3s ease;
    }

    .menu-overlay.active {
        visibility: visible;
        opacity: 1;
    }

    .nav-menu {
        position: fixed;
        right: -280px;
        visibility: hidden;
        width: 280px;
        height: 100%;
        top: 0;
        overflow-y: auto;
        background-color: #fff;
        z-index: 1000;
        padding: 15px 0;
        transition: all 0.5s ease;
    }

    .nav-menu.open {
        visibility: visible;
        right: 0;
    }

    .menu>.menu-item {
        display: block;
        margin: 0;
    }

    .menu>.menu-item-has-children>a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu>.menu-item>a {
        color: #000000;
        padding: 12px 15px;
        border-bottom: 1px solid #333333;
    }

    .menu>.menu-item:first-child>a {
        border-top: 1px solid #333333;
    }

    .menu>.menu-item>a .angle:before,
    .menu>.menu-item>a .angle:after {
        background-color: #000000;
    }

    .menu>.menu-item-has-children.active>a .angle:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .menu>.menu-item>.sub-menu {
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        border: none;
        background-color: transparent;
        box-shadow: none;
        transform: translateY(0px);
        padding: 0px;
        left: auto;
        top: auto;
        max-height: 0;
        overflow: hidden;
    }

    .menu>.menu-item>.sub-menu>.menu-item>a {
        padding: 12px 45px;
        color: #000000;
        border-bottom: 1px solid #333333;
    }

    .close-nav-menu {
        display: none;
    }

    .open-nav-menu {
        display: flex;
    }

    .cart-text {
        display: none;
    }

    #shopping-cart {
        display: none;
    }

    #search {
        display: none;
    }

    #basket {
        display: block !important;
        margin-top: -55px;
        margin-left: 2px;
    }

    .visit {
        background-color: white;
        top: 5% !important;
        left: 5% !important;
        opacity: 1;
        visibility: visible;
        position: absolute;
        width: 40px !important;
        height: 40px !important;
        box-shadow: 0.5px 0.5px 0.5px #939393;
        border-radius: 100%;
    }

    .cart-shopping {
        width: 65% !important;
    }

}

/*?*/

.cart-div {
    border-right: 1px solid #f6f6f6;
    border-left: 1px solid #f6f6f6;
}

.business {
    background-color: #f58232;
    color: white;
    box-shadow: inset 0 -2px 0 rgb(0 0 0 / 15%);
    transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease;
    font-size: 14px;
}

.business:hover {
    color: white;
}

.cart-button {
    padding-right: 5px;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.75);
}

.cart-button:hover {
    transition: 0.4s;
    color: #939393;
}

.cart-text {
    font-size: 12px;
}

.cart-shopping {
    position: fixed;
    width: 25%;
    height: 100%;
    background-color: white;
    top: 0;
    left: -100%;
    z-index: 1000;
    transition: 0.4s ease-in-out;
}

.back-close {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    top: 0;
    left: -100%;
    z-index: 100;
}

.active-left {
    left: 0 !important;
}

.basket-text {
    width: 50%;
    padding: 20px 15px 0 0;
}

.basket-close {
    width: 50%;
    text-align: left;
    padding: 20px 0 0 15px;
    margin-top: 5px;
}

.basket-close:hover {
    transition: 0.4s;
    color: #939393;
}

@media (max-width: 1024px) {
    .tablet-menu {
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: white;
        width: 100%;
        height: 60px;
        z-index: 100;
        box-shadow: 0 0 3px 1px #939393;
    }

    .tablet-menu ul {
        justify-content: space-around;
        text-align: center;
        display: flex;
    }

    .tablet-menu li {
        font-size: 12px;
        margin-top: 10px;
    }

    .tablet-menu a {
        color: #000000;
    }

    .tablet-menu a:hover {
        color: #939393;
    }
}

.text-between {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #939393;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.text-between span {
    background: #f6f6f6;
    padding: 0 10px;
}

@media (max-width: 576px) {
    .text-between {
        width: 100%;
        text-align: center;
        border-bottom: none;
        line-height: 2em;
        margin: 10px 0 20px;
    }

    .text-between span {
        background: #f6f6f6;
        padding: 0 10px;
    }
}

/*! Swiper */
.support-image {
    margin: auto;
    display: block;
    width: 125px;
    height: 125px;
    object-fit: cover;
}

/*! /Swiper */

.swiper-para {
    color: #939393;
    font-size: 12px;
    margin-right: 6px;
}

.swiper-para:hover {
    color: #000000;
    transition: 0.3s;
}

.radius-support {
    border-radius: 30px;
}

.swiper-price {
    color: #f58232;
    font-size: 14px;
    font-weight: bold;
    margin-right: 4px;
}

.radius-product {
    border-radius: 20px;
}

.text-line-center {
    text-align: center;
    border-bottom: 1px solid #939393;
}

.text-line-center span {
    padding: 1px;
    border-bottom: 2px solid #f58232;
}

.show-detail {
    background-color: transparent;
}

.product {
    padding: 5px;
    background-color: white;
    width: 100%;
    border-radius: 10px;
}

.product-image {
    /*padding: 5px;*/
    margin: auto;
    display: block;
    width: 350px;
    height: 350px;
    object-fit: cover;
    transform: scale(0.9, 0.9);
    transition: 0.8s ease-in-out;
}

.product-image:hover {
    /*padding: 0;*/
    transform: scale(1, 1);
}

@media screen and (max-width: 560px) {
    .product-image {
        margin: auto;
        display: block;
        width: 130px;
        height: 130px;
        object-fit: cover;
    }
}

.discount {
    top: 2%;
    right: 2%;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f58232;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1100px) {
    .visit {
        background-color: white;
        top: 5%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        width: 50px;
        height: 100px;
        box-shadow: 0.5px 0.5px 0.5px #939393;
        transition: ease-in-out 0.3s;
    }

    .show-detail:hover .visit {
        opacity: 1;
        visibility: visible;
        left: 5%;
    }
}

#basket {
    display: none;
}

.is-exist {
    top: 2%;
    right: 2%;
    position: absolute;
    width: 50px;
    height: 50px;
    /*border-radius: 50%;*/
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.blogs {
    background-color: white;
    width: 100%;
    padding-bottom: 30px;
}

.blogs-image {
    margin: auto;
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-in-out;
    /*transform: scale(0.99, 0.99);*/
}

.blog-title {
    color: #000000;
}

.blog-title:hover {
    transition: all 0.4s;
    color: #939393;
}

.date {
    top: 4%;
    right: 4%;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.share {
    color: #939393;
}

.share:hover {
    color: black;
    transition: 0.3s;
}

.loading-blog {
    background-color: black;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}

.blogs:hover .loading-blog {
    opacity: 0.5;
    visibility: visible;
}

/* .blogs:hover .blogs-image { */
    /*transform: scale(1, 1);*/
/* } */

.dot-loader {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    -webkit-animation: 1.2s scaleDown ease-in-out infinite;
    animation: 1.2s scaleDown ease-in-out infinite;
}

.dot-loader:nth-child(2) {
    margin: 0 15px;
    -webkit-animation: 1.2s scaleDown ease-in-out infinite .15555s;
    animation: 1.2s scaleDown ease-in-out infinite .15555s;
}

.dot-loader:nth-child(3) {
    -webkit-animation: 1.2s scaleDown ease-in-out infinite .300000s;
    animation: 1.2s scaleDown ease-in-out infinite .300000s;
}

@-webkit-keyframes scaleDown {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleDown {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.footer-width {
    width: 20%;
    color: white;
}

@media screen and (max-width: 568px) {
    .footer-width {
        width: 100%;
    }
}

.text-footer {
    font-size: 12px;
}

.text-line-center-footer {
    padding: 15px 0 2px 0;
    text-align: right;
    /*border-bottom: 1px solid #939393;*/
}

/*.text-line-center-footer span {*/
/*    padding: 5px;*/
/*    border-bottom: 2px solid white;*/
/*}*/

.item-footer {
    color: white;
    font-size: 16px;
}

.item-footer a {
    padding: 10px 0;
    color: #939393;
    display: flex;
    font-size: 14px;
}

.item-footer a:hover {
    color: #FFFFFF;
    transition: all 0.3s;
}

.social {
    width: 40px;
    height: 40px;
    margin: auto 5px;
}

.box-product {
    height: auto;
}

.product-price {
    color: #f58232;
    font-weight: bold;
}

.package-type {
    background-color: transparent;
    color: #939393;
    border: 1px solid #939393;
    border-radius: 3px;
    padding: 4px;
    font-size: 15px;
}

.order-value {
    padding: 5px;
    border: 1px solid #939393;
    border-radius: 5px;
    color: #939393;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-order {
    padding: 7px 5px;
    background-color: transparent;
    border: none;
    border-right: 1px solid #939393;
    border-left: 1px solid #939393;
    text-align: center !important;
    color: #939393;
}

.plus,
.minus {
    padding: 3px 5px;
    background-color: transparent;
    border: none;
    color: #939393;
}

/*.plus:hover {*/
/*    background-color: #f58232;*/
/*    color: white;*/
/*}*/

/*.minus:hover {*/
/*    background-color: #f58232;*/
/*    color: white;*/
/*}*/

.add-to-cart {
    background-color: #f58232;
    color: white;
    box-shadow: inset 0 -2px 0 rgb(0 0 0 / 15%);
    font-size: 13px;
    border: none;
    padding: 10px;
    margin-right: 10px;
}

.tab-product {
    display: flex;
}

.tab-product-item {
    justify-content: space-between;
    margin-right: 20px;
    color: #939393;
    font-size: 16px;
}

.tab-product-item:hover {
    color: #000000;
}

.tab-product-item:after {
    content: '';
    width: 0;
    height: 3px;
    display: block;
    background: #f58232;
    transition: 300ms;
}

.tab-product-item:hover:after {
    width: 100%;
}

.active-border {
    color: black;
}

.border-related {
    border: 2px solid #f6f6f6;
}

.related {
    background-color: white;
}

.related-image {
    margin: auto;
    display: block;
    /*width: 250px;*/
    /*height: 250px;*/
    object-fit: cover;
    transform: scale(0.9, 0.9);
    transition: 0.8s ease-in-out;
}

.related-image:hover {
    transform: scale(1, 1);
}

.product-row {
    display: flex;
    margin: auto;
    text-align: center;
    /*width: 12%;*/
    justify-content: space-around;
}

.product-row-respon {
    text-align: center;
}

.category-name {
    font-size: 13px;
    color: white;
    font-weight: bold;
}

.category-count {
    font-size: 12px;
    color: #f6f6f6;
}

.category-name:after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background: #f58232;
    transition: 300ms;
}

.category-name:hover:after {
    width: 100%;
}

.more-category {
    color: white;
    text-align: center;
    display: none;
}

.more-category:hover {
    color: #939393;
}

@media (max-width: 1024px) {
    .product-row {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        text-align: right !important;
        /*width: 100%;*/
        justify-content: space-around;
    }

    .product-row-respon {
        display: none;
        flex-direction: column;
    }

    .more-category {
        display: block;
    }

    .category-name:after {
        content: '';
        width: 0;
        height: 2px;
        display: block;
        background: #f58232;
        transition: 300ms;
    }

    .category-name:hover:after {
        width: 0;
    }
}

.active-block {
    display: block;
}

.filter-phone {
    color: #000000;
    text-align: right;
    display: none;
}

.filter-phone:hover {
    color: #939393;
}

.filter-phone-close {
    color: #000000;
    text-align: right;
    display: none;
}

.filter-phone-close:hover {
    color: #939393;
}

.border-filter {
    width: 100%;
    border: 2px solid #f6f6f6;
}

.filter-exist {
    width: 90%;
    margin: 15px auto;
    background-color: #f0f0f0;
    padding: 15px;
}

.filter-box {
    width: 90%;
    margin: 5px auto;
    padding: 5px;
    color: #939393;
    font-size: 14px;
}

.filter-box:hover {
    color: #000000;
    transition: 0.3s;
}

input[type=checkbox] {
    accent-color: #f58232;
}

.range-orange-box {
    width: 90%;
    margin: 5px auto;
    padding: 5px;
}

input[type=range] {
    width: 100%;
    background-color: #f58232;
}

.filter-box-1 {
    width: 90%;
    margin: 5px auto;
    padding: 5px;
    color: #939393;
    font-size: 14px;
}

.filter-button {
    background-color: #f58232;
    color: white;
    box-shadow: inset 0 -2px 0 rgb(0 0 0 / 15%);
    font-size: 13px;
    border: none;
    padding: 10px;
}

.product-category-item {
    margin-top: 6px;
}

.product-category-item a {
    background-color: transparent;
    width: 90%;
    display: inline-block;
    font-size: 14px;
    color: #939393;
}

.product-category-item a:hover {
    color: #000000;
    transition: 0.3s;
}

.product-arrow {
    position: absolute;
    left: 6%;
    font-size: 14px;
    color: #939393;
    width: 15px;
    height: 14px;
    text-align: center;
}

.active-product-arrow {
    background-color: #f0f0f0;
    border-radius: 50%;
    transform: rotate(180deg);
    transition: 0.4s ease;
}

.more-product-category {
    transition: 0.4s;
}

@media (max-width: 1200px) {
    .filter-box-all {
        background-color: white;
        position: fixed;
        top: 0;
        width: 70%;
        height: 100%;
        overflow: auto;
        right: -100%;
        z-index: 1000;
        transition: all 0.4s ease;
    }

    .filter-phone {
        display: block;
    }

    .filter-phone-close {
        display: block;
    }
}

.active-right {
    right: 0;
}

.all-product {
    border: 1px solid #f6f6f6;
}

.job {
    display: none;
    visibility: hidden;
    margin-bottom: 10px;
}

.active-job {
    display: block !important;
    visibility: visible !important;
}

.call-info {
    /*position: absolute;*/
    /*top: 150%;*/
    margin: 10px auto;
    padding: 15px;
    background-color: #f6f6f6;
    color: #000000;
    font-size: 12px;
    text-align: center;
}

.btn-category {
    position: absolute;
    width: 100%;
    top: -8px;
    text-align: center;
    right: 0;
    left: 0;
}

.btn-category span {
    background-color: #f58232;
    color: white;
    font-size: 12px;
    border: none;
    padding: 3px 10px;
}

.read-more {
    font-size: 14px;
    color: #f58232;
}

.read-more:hover {
    color: #f58232;
}

.my-account-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: #F9FAFC;
    box-sizing: border-box;
}

.my-account {
    width: 29%;
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 30px 40px;
}

.login-my-account {
    margin-top: 20px;
    padding: 15px 0;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #68A63F;
}

@media (max-width: 900px) {
    .my-account {
        width: auto;
        background-color: #ffffff;
        border: 1px solid #e2e2e2;
        border-radius: 5px;
        padding: 30px 40px;
    }
}

.about-us {
    border-radius: 20px;
    border: 1px solid #e2e2e2;
    padding: 30px;
}

.contact-us {
    border-radius: 20px;
    border: 2px solid #e2e2e2;
    padding: 30px;
    height: 100%;
}

.brown {
    color: #925222;
}

.send-button {
    margin-top: 20px;
    padding: 8px 35px;
    display: block;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    color: #000000;
    background-color: #95CB6E;
}

.send-button:hover {
    background-color: #68A63F;
    color: #000000;
    transition: 0.3s;
}

.contact-us a {
    color: #1e73be;
}

.contact-us a:hover {
    color: #000000;
    transition: 0.3s;
}

.button-category {
    background-color: #f58232;
    color: white;
    font-size: 12px;
    border: none;
    padding: 4px 10px;
}

.button-category:hover {
    color: #FFFFFF;
}

.date-blog {
    top: 2%;
    right: 2%;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.border-last-notes {
    width: 100%;
    border: 2px solid #f6f6f6;
}

@media (max-width: 900px) {
    .border-last-notes {
        display: none;
    }
}

/*.blog-tag {*/
/*    display: flex;*/
/*}*/

/*.blog-tag li {*/
/*    margin-left: 10px;*/
/*}*/

/*.blog-tag a{*/
/*    border: 2px solid #939393;*/
/*    padding: 3px 5px;*/
/*    font-size: 14px;*/
/*    color: #000000;*/
/*}*/

/*.blog-tag i {*/
/*    font-size: 8px;*/
/*    margin-left: 5px;*/
/*    color: #939393;*/
/*}*/

/*.blog-tag a:hover {*/
/*    border: 2px solid #f58232;*/
/*    transition: 0.3s;*/
/*}*/

.social-circle {
    padding: 10px;
    border-radius: 50%;
    background-color: #33ccff;
    margin: auto 5px;
}

.elementor-shape {
    overflow: hidden;
    /*position: absolute;*/
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}

.elementor-shape-fill-yellow {
    fill: #E5A944;
}

.elementor-shape-fill-pink {
    fill: #E3314F;
}

.elementor-shape-titr {
    position: absolute;
    top: 5%;
    width: 100%;
}

.elementor-shape-text {
    position: absolute;
    width: 100%;
    line-height: 1.5;
    top: 50%;
    font-size: 14px;
    color: #939393;
}

@media (max-width: 900px) {
    .business-margin {
        margin: 0 0 100px 0
    }
}

.btn-30-kl {
    background-color: #95CB6E;
}

.send-button-gray {
    margin-top: 20px;
    padding: 8px 35px;
    display: block;
    font-size: 14px;
    border: none;
    color: #000000;
    background-color: #cdcdcd;
}

.send-button-gray:hover {
    background-color: #939393;
    color: #000000;
    transition: 0.3s;
}

.visit-more {
    padding: 5px;
    background-color: white;
    width: 100%;
    min-height: 80%;
    border-radius: 10px;
}

.border-filter-bold {
    width: 100%;
    border: 4px solid #f6f6f6;
}

.no-button-style {
    border: none;
    background-color: transparent;
}

.cart-plus-minus {
    display: flex;
    justify-content: center;
    width: 80px;
    border: 1px solid #939393;
    border-radius: 5px;
    color: #939393;
}

.order-number {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    border-right: 1px solid #939393;
    border-left: 1px solid #939393;
    margin: auto;
}

.button-add-reduce {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    color: #939393;
}

.link-product {
    color: #000000;
}

.link-product:hover {
    color: #939393;
    transition: 0.3s;
}

.cart-shopping-effect:hover {
    background-color: #f6f6f6;
}

.drop-profile-btn:hover {
    transition: 0.4s;
    color: #939393;
}

.cart-div:hover .drop-profile {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

.drop-profile {
    position: absolute;
    width: 200px;
    height: 150px;
    left: 3%;
    top: 7%;
    background-color: white;
    box-shadow: 10px 10px 12px 0 #939393;
    opacity: 0;
    visibility: hidden;
    padding: 10px;
    border-radius: 5pClix;
    font-size: 14px;
}

.drop-profile li {
    margin-bottom: 10px;
}

/* .active-opacity {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
} */

.my-account-list {
    padding: 5px;
    font-size: 14px;
}

.my-account-list li {
    padding-bottom: 10px;
}

.my-account-list a {
    display: block;
    padding: 6px;
    color: #000000;
}

.my-account-list a:hover {
    background-color: #f6f6f6;
}

.my-account-list .active {
    background-color: #f6f6f6;
}

.gallery {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*! Rating  */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating>input {
    display: none;
}

.rating>label {
    position: relative;
    width: 30px;
    font-size: 30px;
    color: #FFD700;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important;
}

.rating>input:checked~label:before {
    opacity: 1;
}

.rating:hover>input:checked~label:before {
    opacity: 0.4;
}

.cheked {
    color: #FFD700;
}
/*! End Rating  */

.blog-next-previous a {
    color: #939393;
}

.blog-next-previous a:hover {
    color: #f58232;
    transition: 0.3s;
}

.button-orange {
    background-color: transparent;
    font-size: 14px;
    outline: 2px solid #f58232;
}

.button-orange:hover {
    background-color: #f58232;
    color: white;
    transition: 0.3s;
}